@import '../node_modules/nib'
@import '../node_modules/jeet/styl'
@import '../node_modules/typographic/stylus/typographic.styl'
@import '../node_modules/axis/axis'
@import '../node_modules/rupture/rupture'

typographic()
widthHeader(width,col)
  +below(width px)
    column(col)




border-radius(radius)
  -moz-border-radius radius px;
  -webkit-border-radius radius px;
  border-radius radius px;

a
  text-decoration none

body
  font-size 16px

.content
  background-color #F4F4F4
  float left
  width 100%
  border-top 1px solid #eaeaea

li
  list-style none

.logo
  column(.15)
  widthHeader(1161,.17)

.search
  column(.67)
  widthHeader(1180,.66)
  widthHeader(1165,.65)


.location
  column(.18)
  widthHeader(1180,.17)
  widthHeader(1165,.18)

.cityDB
  display: none


.header
  height 50px

.search input
  input()
  width 97%
  background-color #F4F4F4
  border-color @background-color
  box-shadow none
  border-radius 6px
  padding-left: 36px;


.youCity
  float: left
  margin-right 8px

.location .row > div, .location .row > i
  float left
  text-align right

.location .fa.fa-map-marker
  margin 10px 11px 0 0px
  color #0CA6FD

.location .fa.fa-angle-down
  color #b3b3b3
  font-weight bold
  margin 11px 0 0 7px

.location .row
  font-size 14px

.youCityDB
  cursor pointer

.search input
  font-size 15px

.location
  margin-top -2px


.leftBlock
  column(.31)
  background-color white
  border-radius(11)

.searchResult
  column(.69)


.allContent
  max-width 1300px
  min-width 1200px
  margin 0 auto

.content .container
  margin 25px 50px 0

.leftBlock > ul > li
  color #0D96FD
  font-size 17px
  border-top 1px solid #f1f1f1
  display block
  padding 14px!important
  cursor: pointer;

.leftBlock li > ul li a
  color #7b7b7b
  font-size 15px

.leftBlock li > ul li
  line-height 1.5
  cursor auto

.leftBlock li > ul li.active a
  color #414141

.leftBlock > ul,.listCSR ul
  reset-list()

.leftBlock > ul > li:first-child
  border-top medium none

.leftBlock > ul > li:last-child
  border-bottom 1px solid #f1f1f1
  margin-bottom 56px

.searchView
  background white none repeat scroll 0 0
  color black
  font-size 20px
  border-radius(12px)

.searchView > p
  padding 5px 0 5px 17px

.searchView p span
  font-weight bold


.contentSR
  background white none repeat scroll 0 0
  margin-bottom: 22px;
  border-radius(12px)

.contentSR .row
  padding 28px 40px

.infoCommunicate
  button(#0CA6FD)
  padding 5px
  margin-left 7px

.infoQuestion
  button(white)
  padding 5px
  color #0CA6FD
  border @color
  margin-left 7px

.infoHead .row
  min-height: 65px;
  padding: 0;


.infoCL
  column(.84)

.infoLogo
  column(.16)

.infoLocation
  font-size 13px
  line-height 0
  color black

.infoTitle
  color black
  font-size 16px
  font-weight bold



.infoWorkingHours
  color black
  font-size 12px
.infoLocation > span:first-child
  text-decoration underline


.infoLogo > img
  float right
  +below(1170px)
    width 100%

.infoHead
  margin-bottom 20px

.listCSR li:nth-child(odd)
  background-color #F4F4F4


.listCSRText
  margin-left 12px

.listCSRPrice
  float right
  font-size 16px
  margin-right 15px

.listCSR li
  color #666666
  font-size 15px
  border-radius(7px)

.showStill > p
  border 2px solid #f4f4f4
  color black
  font-size 12px
  text-align center
  border-radius(7px)
  cursor pointer
  margin-bottom 8px

.showStill
  margin-top 8px

.search form i
  color #9b9b9b
  font-size 20px
  margin-left 8px
  margin-top 7px
  position absolute


.leftBlock li > ul
  margin-bottom 0
  padding-left 34px

.leftBlock > ul > li i.fa
  float right
  font-size 10px
  margin 15px 2px

.engine
  margin-top 0
  position relative
  top 6px

.diagnostic
  margin-left 3px

.infoContact .fa.fa-clock-o
  color #3dabf6
  font-size 14px
  margin 0 3px 0 8px

.infoQuestion:hover
  border 1px solid transparent

.infoLocation .fa.fa-map-marker
  color #f32727
  font-size 17px
  margin-right 4px
  margin-top -9px

.dot
  background black none repeat scroll 0 0
  border-radius(20)
  display inline-block
  height 4px
  position relative
  top -2px
  width 4px

.dot-red
  background #DF1616

.dot-green
  background #78A925

.dot-blue
  background #0CAEFD

.fa.fa-rub
  font-size 15px

.listCSR li img
  float left

.listCSR li
  line-height 2.1
  margin-top 8px !important

.showStill .fa.fa-chevron-circle-down
  color #c5c5c5
  font-size 17px
  margin-left 3px
  position relative
  top 2px

.logo > img
  width 100%

